@import '../../../shared/common';
@import '../../../shared/common.theme';

.room-container {
    @extend .flex;
    width: 100%;
    height: 100%;

    .characters {
        @extend .flex;
        height: 100%;
        width: 100%;
    }
}