@import '../../../shared/common.scss';
@import '../../../shared/common.theme.scss';

.users-container {
    @extend .flex-centered;
    height: 100%;

    .sky {
        .logo {
            width: 390px;
            height: 265px;
        }
    }

    .sea {
        flex-direction: column;
        .play {
            width: 150px;
        }

        .main-menu {
            button-input {
                width: 300px;
                display: block;
                --label-size: 20px;
                --label-color: white;
                margin-bottom: 10px;
            }
        }
    }
}