@import '../../../shared/common';
@import '../../../shared/common.theme';

.footer-container {
    @extend .flex-row-bw;
    background-color: $footerBGColor;
    color: $footerColor;
    height: 40px;
    font-size: $smallFontSize;

    .rights-reserved {
        @extend .flex-row;
        align-items: center;
        margin-left: 10px;
        white-space: nowrap;
    }

    .build-version {
        @extend .flex-row;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        margin-right: 10px;
    }
}