@import '../../../shared/common';
@import '../../../shared/common.theme';

.success-page-container {
    @extend .flex-centered;
    height: 100%;

    --label-size: 36px;

    .guessed-right {
        color: white;
        font-size: 28px;
        margin-bottom: 20px;
    }
    .actions {
        @extend .flex-row;
        justify-content: center;
        .restart {
            margin-right: 10px;
        }
        button-input {
            --label-size: 30px;
            --label-color: white;
            --back-color: #4444dd;
        }
    }

    // svg[icon="alarm"] { 
    //     @include size(100px);
    // }
}