.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
    width: 100%;
}

.flex-centered {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.flex-row-bw {
    @extend .flex-row;
    justify-content: space-between;
}

.flex-row-end {
    @extend .flex-row;
    justify-content: flex-end;
}

.icon {
    width: 12px;
    height: 12px;
}

.circle-icon {
    @extend .icon;
    border-radius: 12px;
    padding: 6px;
    background-color: black;
    fill: white;
}

.circle-icon-button {
    @extend .circle-icon;
    cursor: pointer;
}

@mixin size($value) {
    width: $value;
    height: $value;
}

@mixin non-selectable {
    user-select: none;
    cursor: default;
}