@import '../../../shared/common';
@import '../../../shared/common.theme';

.menu-container {
    @extend .flex;
    width: 230px;
    height: 100%;
    background-color: $mainMenuBGColor;
    white-space: nowrap;
    overflow-x: hidden;

    ul {
        padding-left: 50px;
    }

    .menu-item {
        font-size: 13px;
    }

    .root-item {
        font-size: 14px;
    }

    ul {
        padding-left: 0;
    }
}

