@import '../../../shared/common';
@import '../../../shared/common.theme';

.menu-item {
    font-size: 13px;
    list-style: none;
    cursor: pointer;

    .title-row {
        @extend .flex-row;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        transition-duration: .5s;
        text-decoration: none;

        .menu-root-icon {
            margin: 9px;
            background-color: $basicColor;

            svg {
                width: 27px;
                height: 22px;
            }
        }
        .item-label {
            @extend .flex-row-bw;
            align-items: center;
            width: 0; // prevents shrinking of .menu-root-icon on toogle menu

            .item-link {
                @extend .flex;
                color: $basicColor;
                display: inline-block;
                padding: 10px 0;
                width: 100%;
            }
        }

        &:hover:not(.group-item):not(.active) {
            background-color: rgba($menuHoverBGColor, 1);
        }


        &.group-item {
            & > .item-label {
                .item-link {
                    color: red;
                }
            }
        }
        &.active:not(.group-item) {
            .item-label {
                cursor: default;

                .item-link {
                    cursor: default;
                }
                .active-sign {
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent; 
                    border-right: 10px solid $contentBGColor;
                }
            }
        }
    }

    &.root-item {
        font-size: 14px;
    }


    ul {
        padding-left: 0;
    }
}

