@import '../../../shared/common';
@import '../../../shared/common.theme';

.header-container {
    @extend .flex-row-bw;
    background-color: $headerBGColor;
    @include non-selectable;

    .left-pane {
        @extend .flex-row;
        align-items: center;

        .toggle-menu {
            display: flex;
            align-items: center;
            padding: 10px;
            width: 25px;
            height: 100%;
            cursor: pointer;
            background-color: $mainMenuBGColor;
        }
        .product-name {
            margin-left: 10px;
            font-size: $mediumFontSize;
            color: $basicColor;
            white-space: nowrap;
        }
    }
    .right-pane {
        @extend .flex-row-bw;
        width: 550px;

        .user-panel {
            @extend .flex-row;
            align-items: center;
            font-size: $smallFontSize;
            .username {
                margin-right: 10px;
            }
            .logout {
                color: $basicColor;
                cursor: pointer;
            }
        }
        .brand-logo {
            margin: 10px;
        }
    }
}


