@import '../../../shared/common';
@import '../../../shared/common.theme';

.session-end-container {
    @extend .flex-centered;
    height: 100%;

    .murdered-character {
        font-size: 28px;
        margin-bottom: 20px;
        color: white;
        text-align: center;

        .info {
            text-align: center;
        }
    }

    .start-session {
        --label-size: 30px;
        --label-color: white;
        --back-color: #4444dd;
        width: 260px;
    }

    
}