@import '../../../shared/common';
@import '../../../shared/common.theme';

.session-end-container {
    @extend .flex-centered;
    height: 100%;

    --label-size: 36px;

    .murdered-character {
        font-size: 28px;
        margin-bottom: 20px;
    }

    
}