@import '../../../shared/common.scss';
@import '../../../shared/common.theme.scss';

.intro-container {
    @extend .flex-centered;
    height: 100%;

    .intro-info {
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
    }

    --label-size: 30px;

    .start-btn {
        width: 160px;
    }
}